<div class="row">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-outline" routerLink="addProduct">Add New Product</button>
        </div>
    </div>
    <div class="col-md-4 mt-5" >
        <ul class="list-group" *ngIf="productsArray; else noProducts" >
            <li class="list-group-item" *ngFor="let product of productsArray"
            [routerLink]="['/products',product.pId]"
            [queryParams]="{canReturn : product.canReturn}"
            (click)="selId = product.pId"
            [ngClass]="{ active : selId == product.pId}">
                {{product.pName}}
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #noProducts>
    <p class="alert alert-info p-3">No Products Added Yet!</p>
</ng-template>
