<div class="row">
    <div class="col-md-7 offset-2">
        <form [formGroup]="edituserForm" (ngSubmit)="onAddUser()">
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" formControlName="userName" class="form-control">
            </div>
            <div class="form-group">
                <label for="userName">User Role</label>
                <select formControlName="userRole" class="form-control">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="form-group">
                <label for="userImg">User Image</label>
                <input type="text" formControlName="userImg" class="form-control">
            </div>
            <div class="text-right">
                <button class="btn btn-outline-success" type="button" (click)="updateUser()"
                *ngIf="isInEditMode">Update User</button>
                <button class="btn btn-outline-success"
                *ngIf="!isInEditMode" type="submit">Add New User</button>
            </div>
        </form>
    </div>
</div>
