<div class="row">
    
    <div class="col-md-8">
        <form [formGroup]="editproductForm" (ngSubmit)="onAddProduct()">
        <div class="form-group">
            <label for="pName">Product Name</label>
            <input type="text" formControlName="pName" class="form-control">
        </div>
        <div class="form-group">
            <label for="pStatus">Product Status</label>
            <select name="" id="" formControlName="pStatus" class="form-control">
                <option value="Progress">Progress</option>
                <option value="Dispatched">Dispatched</option>
                <option value="Delivered">Delivered</option>
            </select>
        </div>
        <div class="text-right">
            <button class="btn btn-outline-success" (click)="onUpdate()" type="button"
            *ngIf="isInEditMode">Update Product</button>
            <button class="btn btn-outline-success" type="submit"
            *ngIf="!isInEditMode">Add Product</button>

        </div>
    </form>
    </div>
</div>
