<div class="row">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-outline-success" routerLink="addUser">Add User</button>
        </div>
    </div>
    <div class="col-md-4 mt-5">
        <h4 class="bg-primary text-white p-2">Users List</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of usersInfo"
            [routerLink]="[user.userId]"
            [queryParams]="{canEditUserRole : user.userRole}">
                {{user.userName}}
                <hr>
                <strong>User Role: </strong>{{user.userRole}}
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>
